<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ContactoBaseDatos" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=juegoBd;User ID=adminJuego;Password=1234;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="tcpBinding">
					<security mode="None">
						
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="ServicioJuego.ImplementacionServicio">
				<endpoint address ="Service" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="ServicioJuego.IGestionCuentaServicio"/>
				<endpoint address ="Service" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="ServicioJuego.ILobbyManager"/>
				<endpoint address ="Service" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="ServicioJuego.IGestorAmistad"/>
				<endpoint address ="Service" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="ServicioJuego.IGestorDeSolicitudesDeAmistad"/>
				<endpoint address ="Service" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="ServicioJuego.IGestorUsuariosConectados"/>
				<endpoint address ="Service" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="ServicioJuego.IServicioPartida"/>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8000/ServiceImplementation"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>